<div class="row justify-content-center">
  <div class="col-12">
    <div *ngIf="employee">
      <div class="entity-header-container">
        <div class="entity-id-shadow">{{ employee.id }}</div>
        <div class="entity-header">{{ employee.firstName }} {{ employee.lastName }}</div>
        <div style="position: absolute; right: 1em; top: 1em">
          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
          </button>
          <button type="button" (click)="openEditDialog()" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
          </button>
        </div>
      </div>
      <hr style="margin-bottom: -1em" />
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <p-accordion class="accordion" [multiple]="true">
        <p-accordionTab header="Szczegóły" [selected]="true">
          <div class="d-flex row justify-content-center">
            <dl class="table_entity-details">
              <dt>
                <span jhiTranslate="eventloggerApp.employee.email"></span>
              </dt>
              <dd>
                <span>{{ employee.email }}</span>
              </dd>
              <dt>
                <span jhiTranslate="eventloggerApp.employee.phoneNumber"></span>
              </dt>
              <dd>
                <span>{{ employee.phoneNumber }}</span>
              </dd>
              <dt>
                <span jhiTranslate="eventloggerApp.employee.hours"></span>
              </dt>
              <dd>
                <span>{{ employee.hours }}</span>
              </dd>
              <dt>
                <span jhiTranslate="eventloggerApp.employee.hireDate"></span>
              </dt>
              <dd>
                <span>{{ employee.hireDate }}</span>
              </dd>
              <dt>
                <span jhiTranslate="eventloggerApp.employee.community"></span>
              </dt>
              <dd>
                <ng-container *ngIf="employee.community">
                  <a [routerLink]="['/community', employee.community.id, 'community-view']">{{ employee.community.title }}</a>
                </ng-container>
              </dd>
              <dt>
                <span jhiTranslate="eventloggerApp.employee.event"></span>
              </dt>
              <dd>
                <span>{{ employee.events?.length }}</span>
              </dd>
            </dl>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Lista planów">
          <jhi-schedule-table [schedules]="employee.schedules!"></jhi-schedule-table>
        </p-accordionTab>
        <p-accordionTab header="Lista eventów">
          <jhi-event-table [events]="employee.events!"></jhi-event-table>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
