<div class="p-fluid p-formgrid">
  <div class="p-field p-col-12 p-md-6 mb-2">
    <jhi-input-float-label title="Nazwa" width="400px" [text]="title" (changeText)="title = $event"></jhi-input-float-label>
  </div>
  <div class="p-field p-col-12 p-md-6 mb-1">
    <jhi-textarea-float-label
      title="Opis"
      width="400px"
      [text]="description"
      (changeText)="description = $event"
    ></jhi-textarea-float-label>
  </div>
  <div class="d-flex p-field p-col-12 p-md-6 mb-1 justify-content-center">
    <p-calendar
      class="mr-1 input"
      [(ngModel)]="startDate"
      [showTime]="true"
      hourFormat="24"
      [maxDate]="endDate"
      [showButtonBar]="true"
      [showWeek]="true"
      [yearNavigator]="true"
      [monthNavigator]="true"
      [timeOnly]="timeOnly"
      yearRange="2020:2030"
    ></p-calendar>
    <p-calendar
      class="ml-1 input"
      [(ngModel)]="endDate"
      [showTime]="true"
      hourFormat="24"
      [minDate]="startDate"
      [showButtonBar]="true"
      [disabledDays]="[0, 5]"
      [showWeek]="true"
      [yearNavigator]="true"
      [monthNavigator]="true"
      [timeOnly]="timeOnly"
      yearRange="2020:2030"
    ></p-calendar>
  </div>
  <div class="d-flex p-field p-col-12 p-md-6 justify-content-center mb-2">
    <p-dropdown
      #typeDropdown
      [options]="types"
      [(ngModel)]="selectedType"
      optionLabel="value"
      placeholder="Wybierz typ"
      class="p-dropdown p-dropdown-open p-dropdown-items"
    ></p-dropdown>
  </div>
  <div class="d-flex p-field p-col-12 p-md-6 justify-content-center mb-2">
    <p-dropdown
      #employeeDropdown
      [options]="employees"
      [(ngModel)]="selectedEmployee"
      [optionLabel]="'fullName'"
      placeholder="Wybierz pracownika"
      class="p-dropdown p-dropdown-open p-dropdown-items"
    ></p-dropdown>
  </div>
  <div class="d-flex p-field p-col-12 p-md-6 justify-content-center mb-2">
    <p-dropdown
      #scheduleDropdown
      [options]="schedules"
      [(ngModel)]="selectedSchedule"
      optionLabel="title"
      placeholder="Wybierz plan"
      class="p-dropdown p-dropdown-open p-dropdown-items"
    ></p-dropdown>
  </div>
  <div class="p-field p-col-12 p-md-6 mb-1 d-flex justify-content-center">
    <jhi-dialog-action-buttons
      [cancel]="cancel()"
      [confirm]="confirm()"
      style="position: absolute; bottom: 2em"
    ></jhi-dialog-action-buttons>
  </div>
</div>
