<div class="p-fluid p-formgrid">
  <div class="p-field p-col-12 p-md-6 mb-2">
    <jhi-input-float-label title="Nazwa" width="400px" [text]="title" (changeText)="title = $event"></jhi-input-float-label>
  </div>
  <div class="p-field p-col-12 p-md-6 mb-1">
    <jhi-textarea-float-label
      title="Opis"
      width="400px"
      [text]="description"
      (changeText)="description = $event"
    ></jhi-textarea-float-label>
  </div>
  <div class="p-field p-col-12 p-md-6 mb-1 d-flex justify-content-center">
    <jhi-dialog-action-buttons
      [cancel]="cancel()"
      [confirm]="confirm()"
      style="position: absolute; bottom: 2em"
    ></jhi-dialog-action-buttons>
  </div>
</div>
