@import '../../../content/scss/global.scss';

.nav-item {
  font-size: 1.5em;
}

p-panelMenu {
  font-size: 2.2em;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: palevioletred;
  height: 100%;
  text-transform: lowercase;
  z-index: 999;
}

.menu_button-toggle {
  margin-bottom: 1em;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 2em;
  left: 2em;
  color: rgba(74, 34, 97, 0.8);
  transition: left 0.5s ease-in-out;
}
