<div class="row justify-content-center">
  <div class="col-12">
    <div *ngIf="schedule">
      <div class="entity-header-container">
        <div class="entity-id-shadow">{{ schedule.id }}</div>
        <div class="entity-header">{{ schedule.title }}</div>
        <div style="position: absolute; right: 1em; top: 1em">
          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
          </button>
          <button type="button" (click)="openEditDialog(schedule)" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
          </button>
        </div>
      </div>
      <hr style="margin-bottom: -1em" />
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <p-accordion class="accordion" [multiple]="true">
        <p-accordionTab header="Szczegóły" [selected]="accordionState[0]">
          <div class="d-flex row justify-content-center">
            <dl class="table_entity-details">
              <dt>
                <span jhiTranslate="eventloggerApp.schedule.description"></span>
              </dt>
              <dd>
                <span>{{ schedule.description }}</span>
              </dd>
              <dt>
                <span jhiTranslate="eventloggerApp.schedule.pensum"></span>
              </dt>
              <dd>
                <span>{{ schedule.pensum }}</span>
              </dd>
            </dl>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Lista Eventów" [(selected)]="accordionState[1]">
          <div class="" *ngIf="accordionState[1]">
            <jhi-event-table [events]="schedule.events!"></jhi-event-table>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Lista Pracowników" [(selected)]="accordionState[2]">
          <div class="" *ngIf="accordionState[2]">
            <jhi-employee-table [employees]="schedule.employees!"></jhi-employee-table>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Plan" [(selected)]="accordionState[3]">
          <div class="d-flex row justify-content-center" *ngIf="accordionState[3]">
            <jhi-schedule-events-table [schedule]="schedule" [backdropEvent]="changeBackdropEvent"></jhi-schedule-events-table>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
<jhi-backdrop *ngIf="isModalDialogOpen"></jhi-backdrop>
